<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Currency Converter</title>
  </head>
  <body>
    <h1>Currency Converter</h1>
    <form method="POST" action="/convert">
      <label
        >From Currency Code:
        <input type="text" name="from_currency" required /></label
      ><br />
      <label
        >To Currency Code:
        <input type="text" name="to_currency" required /></label
      ><br />
      <label
        >Amount to Convert: <input type="text" name="amount" required /></label
      ><br />
      <input type="submit" value="Convert" />
    </form>
  </body>
</html>
